on early-init
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sde/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048

on init
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7

on property:sys.boot_completed=1
    write /sys/block/dm-0/queue/rq_affinity 0
    write /sys/block/sda/queue/rq_affinity 0
    write /sys/block/sde/queue/rq_affinity 0
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/sde/queue/read_ahead_kb 512
    write /sys/block/dm-0/queue/scheduler bfq
    write /sys/block/sda/queue/scheduler bfq
    write /sys/block/sde/queue/scheduler bfq
